<div class= "mx-auto w-50 my-3">
    <%= form_with model: @submission do |form| %>
        <% if @submission.errors.any? %>
            <div style="color: red">
                <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this activity from being saved:</h2>

                <ul>
                    <% @submission.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                    <% end %>
                </ul> 
            </div>
        <% end %>

        <div class="mb-3">
            <%= form.label :first_name, style: "display: block", class: "form-label" %>
            <%= form.text_field :first_name, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :last_name, style: "display: block", class: "form-label" %>
            <%= form.text_field :last_name, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :email, style: "display: block", class: "form-label" %>
            <%= form.email_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :slogan, style: "display: block", class: "form-label" %>
            <%= form.text_area :slogan, size: "30x5", class: "form-control" %>
        </div>

        <div class="text-center mb-3">
            <%= form.submit "Send", class: "btn btn-primary" %>
        <div>
    <% end %>
</div>