<!DOCTYPE html>
<html>
  <head>
    <title>BoulderBikeTour</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""></script>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
    </header>
    
    <main>
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show w-50 text-center position-fixed bottom-0 mb-0 start-50 translate-middle-x z-1" role="alert">
          <p><%= notice %><p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      
      <%= yield %>
    </main>
    
    <footer class="py-3 my-4">
      <%= render 'layouts/footer' %>
    </footer>

    <%= render 'layouts/goUp' %>
  </body>
</html>
